
.card{
    margin-top: 30px;
    width: 2504px;
    margin-right: auto;
    margin-left: auto;
}
.user-img{
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
    border-style: solid;
}
h5{
    margin-top: -27px;
    margin-left: 43px;
    cursor: pointer;
}

.btn{
    display: flex;
    margin-top: 0px;
    margin-left: 72px;
}

.form-group{
    width: 200px; 
    display: block;   
    margin: 0 auto;
    margin-top: 20px;
}

.login-btn{
    width: 100px; 
    display: flex;   
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 30px;
    background-color: #071d49;
    border-color: #071d49;
    border-radius: 8px;
}
.login-btn:hover{
    opacity: 0.8;
}

